<body>
<div class="row">
 
    <table class="table table-striped">
      <thead>
        <th>Código</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Verificado?</th>
        </thead>
        <tbody>
   {{#each cpas}}
      <tr>      
       <td>{{name._}}</td>
       <td>{{lat._}}</td>
       <td>{{lng._}}</td>
       <td>{{verified._}}</td>
     </tr>
    {{else}}
     <tr> No hay códigos para mostrar.</tr>
    {{/each}}
        </tbody>
        </table>
  </div>
</body>
